.container.home{
    padding: 0;
    width: 100%;
    height: calc(100vh - 20px);
}

.home{
    height: 100%;
}

.menu .grid-row{
    grid-template-columns: 50% 50%;
}

.logo-white{
    position: absolute;
    left: calc(50% - 88px);
    top: calc(50vh - 88px);
}

.logo-white img{
    width: 175px;
    height: 175px;
}

.home .menu{
    height: 100%;
}

.home .menu .grid-row{
    height: 100%;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    transition-timing-function: ease;
    transition-duration: 1s;
    width: 100%;
}

.clients{
    margin-top: 60px;
}

.about-item{
    color: white;
    background-color: #353d47;
}

.about-item:hover{
    background-color: #556270;
}

.our-work-item{
    background-color: #4ecdc4;
    color: white;
}

.our-work-item:hover{
    background-color: #368d87;
}

.get-in-touch-item{
    background-color: #c7f464;
    color: white;
}

.get-in-touch-item:hover{
    background-color: #93b44a;
}

.our-services-item{
    color: white;
    background-color: #ff6b6b;
}

.our-services-item:hover{
    background-color: #bf5050;
}
