.left-content{
    text-align: right;
    padding: 40px 35px 40px 0;
    border-right: 1px dotted gray;
}

.right-content{
    text-align: left;
    padding: 40px 0px 40px 35px;
    margin-left: auto;
}

.why-us h2{
    font-weight: 500;
    background-color: #4e4369;
    color: white;
    padding: 50px 15px;
    width: 140px;
    margin: auto;
    border-radius: 50%;
}

.ball-div{
    position: absolute;
}

.ball{
    margin-left: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4e4369;
    position: absolute;
    left: 518px;
    top: -60;
    animation: moving-ball;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-direction: alternate; 
    animation-iteration-count: infinite; 
}

@keyframes moving-ball {
    from{top: -60px;}
    to{top: 140px;}
}
