.our-work .grid-4{
    gap: 10px;
    margin-top: 20px;
}

.company{
    width: 230px;
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 10px;
    border: 5px solid #c7c7c7;
    transition-timing-function: ease;
    transition-duration: 0.2s;
}

.company:hover{
    border-color: #7a7a7a;
}

.amazon{
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/54b1ee8f844ee8bd5d519be8/54b2e472844ee8bd5d51a765_amazon.png");    
}

.amazon:hover{
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/54b1ee8f844ee8bd5d519be8/54b2e47c844ee8bd5d51a766_amazon_color.png");
}

.ebay{
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/54b1ee8f844ee8bd5d519be8/54b2e354844ee8bd5d51a74f_ebay.png");
}

.ebay:hover{
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/54b1ee8f844ee8bd5d519be8/54b2e3729aa206b10aa0b691_ebay_color.png");
}

.bitcoin{
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/54b1ee8f844ee8bd5d519be8/54b2e3ad844ee8bd5d51a755_bitcoin.png");
}

.bitcoin:hover{
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/54b1ee8f844ee8bd5d519be8/54b2e3ba844ee8bd5d51a756_bitcoin_color.png");
}

.jquery{
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/54b1ee8f844ee8bd5d519be8/54b2e3c5844ee8bd5d51a759_jquery.png");
}

.jquery:hover{
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/54b1ee8f844ee8bd5d519be8/54b2e3e19aa206b10aa0b695_jquery_color.png");
}

.ms{
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/54b1ee8f844ee8bd5d519be8/54b2e3eb2b03adb00ae93f62_microsoft.png");
}

.ms:hover{
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/54b1ee8f844ee8bd5d519be8/54b2e3fb2b03adb00ae93f64_microsoft_color.png");
}

.yahoo{
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/54b1ee8f844ee8bd5d519be8/54b2e4042b03adb00ae93f65_yahoo.png");
}

.yahoo:hover{
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/54b1ee8f844ee8bd5d519be8/54b2e40f844ee8bd5d51a762_yahoo_color.png");
}

.ww{
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/54b1ee8f844ee8bd5d519be8/54b2e4192b03adb00ae93f66_volks.png");
}

.ww:hover{
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/54b1ee8f844ee8bd5d519be8/54b2e425fd1016be5d473c52_volks_color.png");
}

.yt{
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/54b1ee8f844ee8bd5d519be8/54b2e42dfd1016be5d473c54_youtube.png");
}

.yt:hover{
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/54b1ee8f844ee8bd5d519be8/54b2e438fd1016be5d473c55_youtube_color.png");
}


