@media screen and (max-width: 1300px) {
    .container.our-work .grid-row{
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 1040px) {
    .container.our-work .grid-row{
        grid-template-columns: auto auto;
    }

    .grid-50{
        grid-template-columns: 100%;
    }

    .grid-4{
        grid-template-columns: auto auto auto;
    }

    .grid-3{
        grid-template-columns: auto auto;
    }

    .grid-2{
        grid-template-columns: auto;
    }

    .btn-xlg{
        width: 50%;
    }

    h2{
        font-size: 28px;
    }

    h3{
        font-size: 23px;
    }

    p{
        font-size: 18px;
    }

    .contact a{
        font-size: 18px;
    }

    img.client{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 600px) {
    .container.our-work .grid-row{
        grid-template-columns: auto;
    }

    .grid-50{
        grid-template-columns: 100%;
    }

    .grid-4{
        grid-template-columns: auto auto;
    }

    .grid-3, .grid-2{
        grid-template-columns: auto;
    }


    .btn-xlg{
        width: 80%;
    }

    h2{
        font-size: 24px;
    }

    h3{
        font-size: 18px;
    }

    p{
        font-size: 16px;
    }

    
    .contact a{
        font-size: 16px;
    }

    img.client{
        width: 125px;
        height: 125px;
    }
}