*{
    font-family: 'Exo',Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

body{
    border: 10px solid #5e6161;
    box-sizing: border-box;
}

.triangle{
    position: absolute;
    display: block;
    margin-left: auto;
    left: calc(50% - 28.5px);
}

.container{
    padding-top: 80px;
    width: 80%;
    margin: auto;
}

img.logo{
    display: block;
    margin: auto;
    margin-bottom: 90px;
    width: 147px;
}

h2{
    font-size: 34px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

h3{
    font-size: 26px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    margin: 8px 0;
}

p{
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    line-height: 1.6;
    font-weight: 300;
    margin-bottom: 15px;
}

.grid-row{
    display: grid;
    box-sizing: border-box;
}

.grid-50{
    grid-template-columns: 50% 50%;
}

.grid-2{
    grid-template-columns: auto auto;
}

.grid-3{
    grid-template-columns: auto auto auto;
    gap: 15px;
    margin-bottom: 40px;
}

.grid-4{
    grid-template-columns: auto auto auto auto;
}

.col-6{
    box-sizing: border-box;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.btn{
    background-color: transparent;
    border: 0px;
}

.return-btn{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.btn-xlg{
    font-size: 24px;
    padding: 10px 16px;
    border: 5px solid #5e6161;
    color: #5e6161;
    font-weight: 700;
}

.btn-xlg{
    width: 25%;
}

.btn-lg{
    font-size: 21px;
    padding: 10px 16px;
    border: 5px solid #5e6161;
    width: 25%;
    color: #5e6161;
    font-weight: 500;
}

.btn:hover{
    background-color: #5e6161;
    color: white;
}


.container.home{
    display: none;
}

.container.about-us{
    display: none;
}

.container.our-work{
    display: none;
}

.container.get-in-touch{
    display: none;
}

.container.our-services{
    display: none;
}

.active{
    display: block !important;
}

.about-us, .our-work, .our-services, .get-in-touch{
    position: relative;
    animation: dispAnimation;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes dispAnimation {
    0%{
        left: -1600px;
        transform: rotate(70deg);
    }
    to{
        left: 0;
        transform: rotate(0deg);
    }
}